// Fonts
$font-heading: 'Muli', sans-serif;
$font-para: 'Nunito', sans-serif;

// Colors
$color-eggshell: #F2F8FF;
$color-background: #353738;
$color-darkgray: #797C7F;
$color-lightgray: #C2C7CC;
$color-darkblue: #53687F;
$color-lightblue: #A6D1FF;

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
	font-family: $font-para;
  background-color: $color-background;
}

h1 {
	font-family: $font-heading;
  color: $color-eggshell;
}

h2 {
  font-family: $font-heading;
  color: $color-eggshell;
  width: 98%;
  padding-left: 1rem;
  a {
    text-decoration: none;
    color: $color-eggshell;
    transition: color .3s ease-in-out;
    &:hover {
      color: $color-lightblue;
    }
  }
}

nav {
  background-color: $color-darkgray;
  width: 100%;
  overflow: hidden;

  ul {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
    @media (max-width: 650px){
      flex-flow: column wrap;
    }
    li {
      width: auto;
      font-size: 2rem;
      list-style-type: none;
      color: $color-eggshell;
      padding: 1rem;
      margin: 0;
      transition: background-color .5s;
      &:hover {
        background-color: $color-background;
      }
      a {
        width: 100%;
        text-decoration: none;
        color: $color-lightblue;
        transition: color .5s;
        &:hover {
          color: $color-eggshell;
        };
      }
    }
  }
}

// Parallax

.text-section {
  padding: 2rem 1rem 0 0;
  height: 20rem;
}

h4 {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 4rem;
  text-align: center;
}

h5 {
  margin: 0;
  padding: 0;
  color: gray;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

p {
  color: gray;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.left {
  padding-left: 10%;
}

.right {
  padding-left: 55%;
}

.parallax-one {
    margin: 0;
    padding: 0;
    opacity: 0.1;
    height: 250px;
}

#abstract-blue-blur {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

.parallax-two {
    margin: 0;
    padding: 0;
    background-image: url("../images/star-exposure.jpg");
    opacity: 0.6;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-three {
    margin: 0;
    padding: 0;
    background-image: url("../images/star-exposure.jpg");
    opacity: 0.6;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// sticky

#navbar {
  overflow:hidden;
}

.sticky {
  position: fixed;
  top: 0;
  margin: 0;
}



#contact-button {
  background-color: $color-darkblue;
  padding: 1rem 3rem;
  border: 2px solid $color-eggshell;
  border-radius: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  transition: background-color .3s ease-in-out;
  &:hover {
    background-color: $color-eggshell;
    a {
      color: $color-darkblue;
    }
  }

  a {
    text-decoration: none;
    color: $color-eggshell;
  }
}
