// Fonts
$font-heading: 'Muli', sans-serif;
$font-para: 'Nunito', sans-serif;

// Colors
$color-eggshell: #F2F8FF;
$color-background: #353738;
$color-darkgray: #797C7F;
$color-lightgray: #C2C7CC;
$color-darkblue: #53687F;
$color-lightblue: #A6D1FF;

body {
  padding: 0;
  margin: 0;
	font-family: $font-para;
  background-color: $color-background;
}

h1 {
	font-family: $font-heading;
  color: $color-eggshell;
}

h2 {
  font-family: $font-heading;
  color: $color-eggshell;
  width: 98%;
  padding-left: 1rem;
  a {
    text-decoration: none;
    color: $color-eggshell;
    transition: color .3s ease-in-out;
    &:hover {
      color: $color-lightblue;
    }
  }
}

nav {
  background-color: $color-darkgray;
  width: 100%;
  overflow: hidden;

  ul {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
    @media (max-width: 650px){
      flex-flow: column wrap;
    }
    li {
      width: auto;
      font-size: 2rem;
      list-style-type: none;
      color: $color-eggshell;
      padding: 1rem;
      margin: 0;
      transition: background-color .5s;
      &:hover {
        background-color: $color-background;
      }
      a {
        width: 100%;
        text-decoration: none;
        color: $color-lightblue;
        transition: color .5s;
        &:hover {
          color: $color-eggshell;
        };
      }
    }
  }
}

.block-scroller {
  overflow-x: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-snap-points-y: repeat(100%);
  scroll-snap-type: mandatory;
  scroll-snap-destination: 100% 0%;
}

.vp-block {
  float: left;
  background-color: $color-darkblue;
  width: 100vw;
  height: 100vh;
  border-radius: 1rem;
}

.content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin: 10vh 0 0 10vw;
  height: 80vh;
  p {
    color: $color-eggshell;
  }

  img {
    width: 10rem;
    height: 10rem;
  }
}

.first {
  background-color: $color-darkgray;
}

.second {
  background-color: $color-darkblue;
}

.third {
  background-color: $color-lightgray;
}

.fourth {
  background-color: $color-lightblue;
}

#contact-button {
  background-color: $color-darkblue;
  padding: 1rem 3rem;
  border: 2px solid $color-eggshell;
  border-radius: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  transition: background-color .3s ease-in-out;
  &:hover {
    background-color: $color-eggshell;
    a {
      color: $color-darkblue;
    }
  }

  a {
    text-decoration: none;
    color: $color-eggshell;
  }
}
