body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: #353738;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

h1 {
  font-family: "Muli", sans-serif;
  color: #F2F8FF; }

h2 {
  font-family: "Muli", sans-serif;
  color: #F2F8FF;
  width: 98%;
  padding-left: 1rem; }
  h2 a {
    text-decoration: none;
    color: #F2F8FF;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out; }
    h2 a:hover {
      color: #A6D1FF; }

nav {
  background-color: #797C7F;
  width: 100%;
  overflow: hidden; }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 0;
    margin: 0; }
    @media (max-width: 650px) {
      nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap; } }
    nav ul li {
      width: auto;
      font-size: 2rem;
      list-style-type: none;
      color: #F2F8FF;
      padding: 1rem;
      margin: 0;
      -webkit-transition: background-color .5s;
      transition: background-color .5s; }
      nav ul li:hover {
        background-color: #353738; }
      nav ul li a {
        width: 100%;
        text-decoration: none;
        color: #A6D1FF;
        -webkit-transition: color .5s;
        transition: color .5s; }
        nav ul li a:hover {
          color: #F2F8FF; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0; }

.block-scroller {
  overflow-x: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-scroll-snap-points-y: repeat(100%);
      -ms-scroll-snap-points-y: repeat(100%);
          scroll-snap-points-y: repeat(100%);
  -webkit-scroll-snap-type: mandatory;
      -ms-scroll-snap-type: mandatory;
          scroll-snap-type: mandatory;
  -webkit-scroll-snap-destination: 100% 0%;
      -ms-scroll-snap-destination: 100% 0%;
          scroll-snap-destination: 100% 0%;
  margin-top: 5rem; }

.vp-block {
  float: left;
  background-color: #53687F;
  width: 100vw;
  height: 100vh;
  border-radius: 1rem; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80vw;
  margin: 10vh 0 0 10vw;
  height: 80vh; }
  .content p {
    color: #F2F8FF; }
  .content img {
    width: 10rem;
    height: 10rem; }

#contact-button {
  background-color: #53687F;
  padding: 1rem 3rem;
  border: 2px solid #F2F8FF;
  border-radius: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out; }
  #contact-button:hover {
    background-color: #F2F8FF; }
    #contact-button:hover a {
      color: #53687F; }
  #contact-button a {
    text-decoration: none;
    color: #F2F8FF; }

/*# sourceMappingURL=sass-stylesheet.css.map */