html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Nunito", sans-serif;
  background-color: #353738; }

h1 {
  font-family: "Muli", sans-serif;
  color: #F2F8FF; }

h2 {
  font-family: "Muli", sans-serif;
  color: #F2F8FF;
  width: 98%;
  padding-left: 1rem; }
  h2 a {
    text-decoration: none;
    color: #F2F8FF;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out; }
    h2 a:hover {
      color: #A6D1FF; }

nav {
  background-color: #797C7F;
  width: 100%;
  overflow: hidden; }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 0;
    margin: 0; }
    @media (max-width: 650px) {
      nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap; } }
    nav ul li {
      width: auto;
      font-size: 2rem;
      list-style-type: none;
      color: #F2F8FF;
      padding: 1rem;
      margin: 0;
      -webkit-transition: background-color .5s;
      transition: background-color .5s; }
      nav ul li:hover {
        background-color: #353738; }
      nav ul li a {
        width: 100%;
        text-decoration: none;
        color: #A6D1FF;
        -webkit-transition: color .5s;
        transition: color .5s; }
        nav ul li a:hover {
          color: #F2F8FF; }

.text-section {
  padding: 2rem 1rem 0 0;
  height: 20rem; }

h4 {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 4rem;
  text-align: center; }

h5 {
  margin: 0;
  padding: 0;
  color: gray;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem; }

p {
  color: gray;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem; }

.left {
  padding-left: 10%; }

.right {
  padding-left: 55%; }

.parallax-one {
  margin: 5rem 0 0 0;
  padding: 0;
  opacity: 0.1;
  height: 250px; }

#abstract-blue-blur {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1; }

.parallax-two {
  margin: 0;
  padding: 0;
  background-image: url("../images/star-exposure.jpg");
  opacity: 0.6;
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.parallax-three {
  margin: 0;
  padding: 0;
  background-image: url("../images/star-exposure.jpg");
  opacity: 0.6;
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#navbar {
  overflow: hidden; }

.sticky {
  position: fixed;
  top: 0;
  margin: 0; }

#contact-button {
  background-color: #53687F;
  padding: 1rem 3rem;
  border: 2px solid #F2F8FF;
  border-radius: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out; }
  #contact-button:hover {
    background-color: #F2F8FF; }
    #contact-button:hover a {
      color: #53687F; }
  #contact-button a {
    text-decoration: none;
    color: #F2F8FF; }

/*# sourceMappingURL=sass-stylesheet.css.map */